body {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-weight: 900;
  font-size: 90px;
  text-align: center;
  color:midnightblue;
  padding-top: 20px;
}
.jumbotron h2 {
  text-align: center;
  color: white;
}

.jumbotron {
  background-color:powderblue;
  margin-bottom: 5px;
}

.navbar-nav {
  float:none;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.navbar-nav li {
  display: inline-block;
  float:none;
}

.row-content {
  padding: 20px 0;
  border-bottom: 1px ridge;
  min-height: 200px; 
}


.text-indent {
  text-indent: 50px;
}

.img-hover-zoom {
   /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}

.float-right-dismiss {
  float: right;
}

.board-image {
  width: 50%;
  height: auto;
}

.volunteer-image {
  width: 85%;
  height: auto;
}

.background-gray {
  background-color: #ededed;
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 5%;
}

.img-height{
  min-height: 450px;
}

.voyageWrapper {
  overflow: hidden;
}


.voyagePic {
  max-height: 400px;
  margin:0 -100%;
}




@media (min-width: 0px) {
  .voyageHeader {
    font-size: 25px;
  }
  .voyageText {
    font-size: 20px;
  }
  .voyageVideo {
    max-width: 380px;
    padding-top: 25%;
  }
  .cardImageHeight {
    height: 10rem;
  }
  .voyageDivingVideo {
    height: 600px;
  }
  .tripLeftPic {
    margin-bottom: 12px;
  }
}


@media (min-width: 992px) {
  .voyageHeader {
    font-size: 60px;
  }
  .voyageText {
    font-size: 30px;
  }
  .voyageVideo {
    max-width: 500px;
    padding-top: 25%;
  }
  .cardImageHeight {
    height: 10rem;
  }
  .tripLeftPic {
    max-width: 650px;
    float: right;
    margin-bottom: 12px;
  }
  .tripRightInfo {
    max-width: 550px;
  }
}

@media (min-width: 1600px) {
  .voyageHeader {
    font-size: 100px;
  }
  .voyageText {
    font-size: 40px;
  }

  .voyageVideo {
    max-width: 500px;
    padding-top: 25%;
  }
  .cardImageHeight {
    height: 10rem;
  }
}

.float-left {
  float: left;
}

.smallTripPadding {
  padding: 0;
  margin-bottom: 10px;
}


.left-divider::before{
  content: "";
  width: 3px;
  height: 96%;
  background-color: #4d7aa6;
  top: 7px;
  left: 0;
  position: absolute;
}

.left-divider-more::before{
  content: "";
  width: 3px;
  height: 96%;
  background-color: #4d7aa6;
  top: 7px;
  left: 20px;
  position: absolute;
}


